*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

:root{
    --tm--bl-orange: #FF6900;
    --tm--bl-footer: #1A1A1A;
    --tm--bl-red: #FF0000;
    --tm--bl-green: #008000;
    --tm--bl-items: #2D2D27;
}

/* #region Debug */

.debug header{
    height: 100px;
    background-color: var(--tm--bl-orange);
}

.debug .menu{
    height: 100px;
    background-color: gray;
    border: 1px solid red;
}

.debug .user{
    height: 100px;
    background-color: gray;
    border: 1px solid red;
}

.debug .logo{
    height: 100px;
    background-color: gray;
    border: 1px solid red;
}

.debug .goodie{
    height: 500px;
    background-color: gray;
    border: 1px solid red;
}

.debug .info{
    height: 100px;
    background-color: gray;
    border: 1px solid red;
}

.debug .socialmedia{
    height: 100px;
    background-color: gray;
    border: 1px solid red;
}

.debug .menu > a, .debug .user > a{
    height: 50px;
    background-color: black;
    border: 1px solid red;
}

.debug .info > *{
    height: 50px;
    background-color: black;
    border: 1px solid red;
}

.debug .socialmedia > *{
    height: 50px;
    background-color: black;
    border: 1px solid red;
}

.debug .media_links > *{
    background-color: gray;
    height: 35px;
    border: 1px solid red;
}

.debug .goodie > *{
    height: 25%;
    background-color: black;
    border: 1px solid red;
}

.debug footer{
    background-color: var(--tm--bl-footer);
}

/* #endregion Debug */

/* #region Utility */

a{
    text-decoration: none;
}

.container{
    max-width: 1170px;
    width: 80%;
    margin: auto;
}


.d_flex{
    display: flex;
}

h2{
    font-size: 20px;
}

h5{
    font-weight: lighter;
}



/* #endregion Utility */

/* #region Header */

header{
    background-color: var(--tm--bl-orange);
    position: fixed;
    width: 100%;
    top: 0;
}

nav a{
    color: white;
}

nav img{
    width: 150px;
}

.menu, .user{
    width: calc(100% / 12 * 2);
}

.logo{
    width: calc(100% / 12 * 3);
}

nav > .container{
    justify-content: space-between;
    align-items: center;
}

.menu > a{
    width: 30%;
    padding: 1rem;
}

.user > a{
    width: 10%;
    padding: 1rem;
}

.menu{
    justify-content: flex-start;
    align-items: center;
}

.user{
    justify-content: flex-end;
    align-items: center;
}


/* #endregion Header */

/* #region Main */

main{
    margin-top: 4rem;
}

.main_shop .container{
    flex-wrap: wrap;
    justify-content: space-between;
}


.main_shop .goodie{
    width: calc(98% / 12 *4);
    margin: 2rem 0;
}

.goodie{
    padding: 1rem;
    flex-direction: column;
}

.discount{
    font-weight: bold;
    color: var(--tm--bl-red);
}

.fullprice{
    text-decoration: line-through;
}

/* #endregion Main */

/* #region Footer */

footer{
    background-color: var(--tm--bl-footer);
    color: white;
}

footer .container{
    justify-content: space-between;
}

.legal > a{
    color: white;
    padding: 1rem 1rem 1rem 0;
    font-size: 10px;
}

h4{
    font-size: 20px;
}

h4, h5{
    margin-bottom: 1rem;
}

.info, .socialmedia{
    width: calc(100% / 12 * 6);
    margin: 2rem 0;
}

.info{
    flex-direction: column;
    padding: 1rem;
}

.socialmedia{
    flex-direction: column;
    align-items: self-end;
    justify-content: center;   
}

.media_links a{
    flex-direction: row;
    width: 10%;
    color: white;
    padding: 1rem 0.2rem;
}

/* #endregion Footer */
