*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --tm--bl-orange: #FF6900;
    --tm--bl-footer: #1A1A1A;
    --tm--bl-red: #FF0000;
    --tm--bl-green: #008000;
    --tm--bl-items: #2D2D27;
}

/* #region Debug */

.debug header{
    height: 100px;
    background-color: var(--tm--bl-orange);
}

.debug .menu, .logo, .user{
    height: 100px;
    background-color: gray;
    border: 1px solid red;
}

.debug .goodie{
    height: 500px;
    background-color: gray;
    border: 1px solid red;
}

.debug .info, .socialmedia{
    height: 100px;
    background-color: gray;
    border: 1px solid red;
}

.debug .menu > a, .debug .user > a{
    height: 50px;
    background-color: black;
    border: 1px solid red;
}

.debug .info > *{
    height: 50px;
    background-color: black;
    border: 1px solid red;
}

.debug .socialmedia > *{
    height: 50px;
    background-color: black;
    border: 1px solid red;
}

.debug .media_links > *{
    background-color: gray;
    height: 35px;
    border: 1px solid red;
}

.debug .goodie > *{
    height: 25%;
    background-color: black;
    border: 1px solid red;
}




/* #endregion Debug */


/* #region Utility */

.container{
    max-width: 1170px;
    width: 80%;
    margin: auto;
}


.d_flex{
    display: flex;
}



/* #endregion Utility */

/* #region Header */

.menu, .user{
    width: calc(100% / 12 * 4);
}

.logo{
    width: calc(100% / 12 * 8);
}

nav > .container{
    justify-content: space-between;
}

.menu > a{
    width: 30%;
    padding: 1rem;
}

.user > a{
    width: 30%;
    padding: 1rem;
}

.menu{
    justify-content: flex-start;
    align-items: center;
}

.user{
    justify-content: flex-end;
    align-items: center;
}


/* #endregion Header */

/* Main */

.main_shop .container{
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_shop .goodie{
    width: calc(96% / 12 *4);
    margin: 2rem 0;
}

.goodie{
    padding: 1rem;
    flex-direction: column;
}

/* Footer */

footer{
    background-color: var(--tm--bl-footer);
}

footer .container{
    justify-content: space-between;
}

.container .info, .socialmedia{
    width: calc(100% / 12 * 6);
    margin: 2rem 0;
}

.info{
    flex-direction: column;
    padding: 1rem;
}

.socialmedia{
    flex-direction: column;    
}

.media_links{
    align-items: center;
    justify-content: space-evenly;
}

.media_links a{
    flex-direction: row;
    width: 10%;
}
